# Python bytecode / cache
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd

# Python .pth files
*.pth
*.pt

#video files 
*.mp4

# image files  
*.png
*.jpg
*.jpeg

# output directory
outputs/
venv/