absl-py==2.3.1
aenum==3.1.15
argparse-addons==0.12.0
bitstruct==8.19.0
can-isotp==1.8
cantools==36.2.0
certifi==2024.8.30
charset-normalizer==3.4.0
colorama==0.4.6
coloredlogs==15.0.1
commonmark==0.9.1
config==0.5.1
contourpy==1.1.1
crc8==0.2.1
crccheck==1.3.0
cycler==0.12.1
diskcache==5.6.3
filelock==3.16.1
filterpy==1.4.5
flatbuffers==24.3.25
fonttools==4.54.1
fsspec==2024.10.0
grpcio==1.76.0
humanfriendly==10.0
idna==3.10
importlib_resources==6.4.5
Jinja2==2.10.1
kiwisolver==1.4.7
Mako==1.3.7
Markdown==3.10
MarkupSafe==2.1.5
matplotlib==3.7.5
mpmath==1.3.0
msgpack==1.0.8
networkx==3.1
numpy==1.24.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.9.86
nvidia-nvtx-cu12==12.1.105
onnx==1.17.0
onnx-simplifier==0.4.36
onnx_graphsurgeon==0.5.8
onnxruntime==1.19.2
onnxruntime-gpu==1.19.2
onnxslim==0.1.36
opencv-python==4.10.0.84
packaging==24.1
pandas==2.0.3
pillow==10.4.0
platformdirs==4.3.6
polars==1.35.2
polars-runtime-32==1.35.2
protobuf==5.28.3
psutil==6.1.0
py-cpuinfo==9.0.0
pycuda==2025.1.2
Pygments==2.18.0
pyparsing==3.1.4
pyquaternion==0.9.9
python-can==3.3.4
python-dateutil==2.9.0.post0
pytools==2024.1.14
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
rich==11.0.0
scipy==1.10.1
seaborn==0.13.2
six==1.16.0
sympy==1.14.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
textparser==0.24.0
torch==2.4.1
torchvision==0.19.1
tqdm==4.66.6
triton==3.0.0
typing_extensions==4.12.2
tzdata==2024.2
ultralytics==8.3.231
ultralytics-thop==2.0.18
urllib3==2.2.3
Werkzeug==3.1.3
wrapt==1.16.0
zipp==3.20.2
